html {
    height: 100%;

}

body {
    background-color: aliceblue;
    height: 90%;
}


#td1 {

    background-color: #ff9e9e;
    font-size: 27px;
    width: 25%;
    text-align: center;


}

#td2 {
    background-color: #ffff9e;
    font-size: 27px;
    width: 25%;
    text-align: center;
}

#td3 {
    background-color: #9eceff;
    font-size: 27px;
    width: 25%;
    text-align: center;
}

#table1 {
    width: 70%;
    margin-top: 25px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 25px;

}

header {
    padding: 10px;
    background: skyblue;

}
#manage_header{
    background-color:gainsboro;
}

#trident_map {
    width: 80%;
    height: auto;
    padding: 20px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    border: 10px solid #000000;
    background-color: #ffffe0;
}

.subject {
    width: 100%;
    height: 250px;
    margin-top: 2%;
    font-size: 1.7rem;
    font-weight: 700;
    line-height: 1.5;
    position: relative;
    display: inline-block;
    padding: 0.5rem 1rem;
    cursor: pointer;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    text-align: center;
    vertical-align: middle;
    text-decoration: none;
    letter-spacing: 0.1em;
    color: #212529;
    border-radius: 0.5rem;
    background-color: #9eceff;
    border-bottom: solid 4px #333b4d;
    border-radius: 3px;

}

.subject:active {
    -webkit-transform: translateY(4px);
    transform: translateY(4px);
    /*下に動く*/
    border-bottom: none;
    /*線を消す*/
}




.floor {
    display: flex;
    margin-bottom: 15px;
    font-size: 25px;

}




#t {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}



body {
    margin: 0;
    color: #313131;

}

h2 {
    margin: 0;
    font-family: "メイリオ", sans-serif;
    line-height: 100vh;
}

/* header */


.pfix {
    width: 100%;

}

/* nav_menu */
.nav {
    position: absolute;
    height: 100%;
    width: 70%;
    left: -70%;
    background: rgba(99, 99, 99, .95);
    -webkit-transition: 1.0s;
    transition: 1 0.2s;
    z-index: 9998;

}

ul {
    margin: 0;
    padding: 0;
}

li {
    height: calc(100vh/5);
    line-height: 187.39px;
    list-style-type: none;
    font-size: 3em;
    text-align: center;
}

a {
    display: block;
    text-decoration: none;
    color: #fff;
}

/* hamburger_line */
#target {
    width: 40px;
    height: 30px;
    position: absolute;
    top: 25px;
    left: 50px;
    cursor: pointer;
    display: block;
    -webkit-transition: 1.5s;
    transition: 1.5s;
    z-index: 9999;
}

.target_inner {
    width: 40px;
    height: 30px;
    position: relative;
}

.target_inner_line {
    display: block;
    width: 40px;
    height: 5px;
    background: #636363;
    -webkit-transition: 1.5s;
    transition: 1.5s;
    border-radius: 50px;
    position: absolute;
}

.target_inner_1 {
    top: 0;
}

.target_inner_2 {
    top: 13px;
}

.target_inner_3 {
    top: 26px;
}

/* 動き */
.fadein {
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
}

.linea,
.lineb,
.linec {
    background: #ffffff;
}

.linea {
    -webkit-transform: rotate(225deg);
    transform: rotate(225deg);
    top: 13px;
}

.lineb {
    opacity: 0;
}

.linec {
    -webkit-transform: rotate(-225deg);
    transform: rotate(-225deg);
    top: 13px;
}

/* main */
main section {
    width: 100%;
    height: 100vh;
    margin: 0 auto;
    text-align: center;
    line-height: 100vh;
}

.open {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
}

.container_web,
.container_game,
.container_vr,
.container_it,
.container_cad,
.container_cg {
    display: none;
    position: fixed;
    top: 0;
    left: 50%;
    width: 1000px;
    height: auto;
    margin-left: -500px;
    margin-top: auto;

    text-align: center;
    vertical-align: middle;

    overflow: auto;
    overflow-y: scroll;
    height: 100vh;




    z-index: 10000;
    -webkit-overflow-scrolling: touch;
    overflow-scrolling: touch;
}

.content > h3 {
    font-size: 32px;
    -webkit-text-size-adjust: 100%;
}

.content > p {
    font-size: 27px;
    -webkit-text-size-adjust: 100%;

}



.overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.5);
}

.content {
    position: relative;
    display: inline-block;
    width: 70vw;
    background: #fff;
    padding: 25px;
    box-sizing: border-box;
}

.picture {
    width: 20%;
    height: 20%;
}

h3 {
    color: #0080d4;
}

.close {
    font-size: 25px;
    height: 50px;
    width: 110px;
    background-color: #0080d4;
    color: white;
}

#change {
    text-align: center;

}

select::-ms-expand {}

#change{
    margin-top: 10px;
}

#change select {

    margin-bottom: 20px;
    padding: 7px 30px 7px 10px;
    font-size: 93%;
    line-height: 1.1em;
    border-radius: 5px;
    border: none;
    background-repeat: no-repeat;
    background-size: 12px 10px;
    background-position: right 10px center;
    background-color: #bddfff;
}

#change #high {
    background-color: #ff9e9e;
}

#change #middle {
    background-color: #ffff9e;
}

#change #suki {
    background-color: #9eceff;
}




@media all and (min-width:768px) {


    /*
    #t{
        background-color: red;
    }
*/

    .subject {
        height: 90px;
        padding: 0.5rem 2rem;
        margin-top: 0;
    }

    #trident_map {

        margin-top: 10px;

    }

    .content > h3 {
        font-size: 22px;
        -webkit-text-size-adjust: 100%;
    }

    .content > p {
        font-size: 17px;
        -webkit-text-size-adjust: 100%;

    }

}
