p {
   text-align: left;
}
.box1 {
   margin: 2em auto;
 padding: 1em;
 width: 40%;
 background-color: #fff; /* 背景色 */
 border: 1px solid #ccc; /* 枠線 */

}
.box1 p {
    margin: 0;
    padding: 0;
    text-align: center;
}
.box checkbox{
    text-align: center;

}
.mozi {
     text-align: center;
}
